progress_tracking.py
scratch_file_jupyter.ipynb
.idea


__pycache__
Python/scratch_file_python.py
Python/syntax/__pycache__/
Python/logs/__pycache__/
Python/projects/copied_projects/2048/__pycache__/


C#/.vs
C#/syntax/.vs
C#/syntax/syntax/bin/
C#/syntax/syntax/obj/
C#/code_wars/.vs
C#/code_wars/code_wars/bin/
C#/code_wars/code_wars/obj/


C/cmake-build-debug
C/.idea
C/CMakeLists.txt
C/employees.txt
C/scratch.h
C/scratch_2.h
