progress_tracking.py
scratch_file_jupyter.ipynb
Python/scratch_file_python.py
Python/syntax/__pycache__/
Python/logs/__pycache__/
Python/projects/copied_projects/2048/__pycache__/
.idea/Training2.iml
C#/.vs
