<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp1___database_testing.Properties.Settings.my_test_databaseConnectionString"
            connectionString="Data Source=DESKTOP-AS603PT\TESTING_SQLSERVE;Initial Catalog=my_test_database;Persist Security Info=True;User ID=sa;Password=Kozelkozel111*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>